@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title <span style="color: #772953">IMeet</span></h2>
<h3>@ViewBag.Message</h3>

<p><strong>IMeet</strong> has been developed as part of CA2 Project for the Enterprise Application Development course (Higher Diploma in Science in Computing) at the Institute of Technology Tallaght. 
    It was designed and implemented by Suzanne Jones <span class="small">(X00142131)</span> and Carole van Damme <span class="small">(X00142179)</span>.</p>
<p>IMeet aims to allow users to book available meeting rooms for a meeting. System administrators are responsible for creating, updating or removing meeting rooms.</p>
<p>Further documentation on this project can be found at this <a href = "https://github.com/suejones/EADCA2">GitHub Link</a>.</p>

