@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title IMeet</h2>
<h3>@ViewBag.Message</h3>

<p>The IMeet Application has been developed as part of CA2 Project for the Enterprise Application Development/HDip in Science in Computing course at the Institute of Technology Tallaght. It was designed and implemented by Suzanne Jones (X00142131) and Carole van Damme (X00142179).</p>
<p>IMeet aims to allow users to book available meeting rooms for a meeting. System administrators are responsible for creating, updating or removing meeting rooms.</p>
<p>Further documentation on this project can be found at this <a href = "https://github.com/suejones/EADCA2">GitHub Link</a>.</p>

