@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMeet</h1>
    <p class="lead">Manage your Meeting Rooms Booking with IMeet</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to IMeet</h2>
        <p>
            IMeet allows you to easily manage your meeting rooms by checking their availability and make bookings.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make a Booking</h2>
        <p>Check meeting rooms availability and book the best room for your meeting.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Booking")">New Booking &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Meeting Rooms</h2>
        <p>Add, Update or Delete a Meeting Room</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "MeetingRooms")">Update Meeting Rooms &raquo;</a></p>
    </div>
</div>